@model CreateProductViewModel

<form asp-controller="AdminProduct" asp-action="CreateProduct" method="post">
    <div class="col-md-8" style="width:640px;">
        <h1>Create Product</h1>

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Name </label>
                <input asp-for="Name" class="form-control" type="text">
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Description </label>
                <input asp-for="Description" class="form-control" type="text">
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">URL </label>
                <input asp-for="URL" class="form-control" type="text">
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Price </label>
                <input asp-for="Price" class="form-control" type="text">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label">Produced</label>
            <input asp-for="Produced" class="form-control" type="date">
        </div>

        <div class="form-group">
            <label class="control-label">Stock</label>
            <input asp-for="Stock" class="form-control" type="text">
        </div>

        <div class="col-xs-offset-2 col-xs-10">
            <div class="radio">
                <label>
                    <input asp-for="Promotion" type="radio" value="true"> Promotional
                </label>
                <label>
                    <input asp-for="Promotion" type="radio" value="false"> Non-promotional
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 content-right">
                <button class="btn btn-primary form-btn" type="submit">CREATE </button>
            </div>
        </div>

    </div>
</form>
