@using PassAway.Models
@model ProductsViewModel
@{
    ViewBag.Title = "All Products";
    Layout = "_Layout";
}
    <body>
    <div>
        <ul class="b-nav">
            <li class="b-link">Create <a href="#">Product</a></li>
            <li class="b-link">View <a href="#">User</a></li>
            <li class="b-link--active b-link">View <a href="#">Product</a></li>
        </ul>
        <div class="b-container">
            <div class="b-menu">
                <div class="b-bun b-bun--top"></div>
                <div class="b-bun b-bun--mid"></div>
                <div class="b-bun b-bun--bottom"></div>
            </div>
        </div>
    </div>
    @foreach (var item in Model.Products)
    {
        <div class="container" style="margin-bottom:150px;"></div>
            <div class="row product-list">
                <div class="col-md-4 col-sm-6 product-item">
                    <div class="product-container">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" class="product-image"><img src="assets/img/iphone6.jpg"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <h2><a href="#">@item.Name</a></h2>
                            </div>
                            <div class="col-xs-4"><a href="#" class="small-text">@item.ID </a></div>
                        </div>
                        <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a href="#" class="small-text">82 reviews</a></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna. </p>
                                <div class="row">
                                    <div class="col-xs-6"><a class="btn btn-info" role="button" href="EditProduct.html" style="width:68px;">Edit </a></div>
                                    <div class="col-xs-6">
                                        <p class="product-price">@item.Price.ToString("c")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }
    <footer>
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">Company<span>Logo </span></a></h3>
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                <p class="company-name">Company Name © 2015 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div>
                    <span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                </div>
                <div>
                    <i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 555 123456</p>
                </div>
                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">support@company.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>


