@model User
<div class="bg-primary panel-body"><h4>@Model.UserName</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="UserProps" method="post">
    <div class="form-group">

        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <label asp-for="DOB">Dateofbirth</label>
        <input asp-for="DOB" class="form-control" />
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>