
@{
    ViewBag.Title = "UpdateProduct";
}

<h2>UpdateProduct</h2>
<div class="container-fluid">
	<div class="col-xs-8 text-centered">
		<div class="form-group">
			<input class="text" placeholder="Update" id=""
		</div>
	</div>
	<div class="col-xs-4 text-centered">
    </div>
</div>

